.projects {
  width: 100%;
  margin: auto;
  min-height: 90vh;
  @include flex(space-around, center, column);
  text-align: center;
  background-image: url('../img/bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  h2 {
    margin: 2rem;
    padding: 0 2rem 1rem;
    color: #fff;
    border-bottom: 2px solid #fff;
  }
  .projects-wrapper {
    @include flex(space-around, center, row);
    text-align: center;
    flex-wrap: wrap;
  }
}
.project {
  margin: 2rem;
  flex: 1 1 30rem;
  // width: 30%;
  padding: 2rem;
  background-color: #fff;
  border: 4px solid $nav-bg;
  border-radius: 2rem;
  h3 {
    margin-bottom: 1rem;
    padding-bottom: .5rem;
    border-bottom: 2px solid #3c3c3c;
    color: #3c3c3c;
  }
  img {
    width: 100%;
  }
  .project-desc {
    margin-top: 2rem;
    font-size: 2rem;
    text-align: left;
  }
}